.icon_table{
    width: 30%;
    height: 30%;

}
.divTable{
   max-width: 100%;
   max-height: 60vh;
   overflow-x:auto;
   overflow-y: auto;
    
}
.divTable > img{
    width: 50px;
    height: 50px;

}
.temp_table{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    
}
.hum{
    display: flex;
    min-width: 130px;
    gap: 5%;
    
}

table {
    border-collapse: collapse;
    width: 100%;
    height:100%;
  }
thead{
  position: sticky;
  top: 0;
  z-index: 1; 
 
}
 
  td, th {
    border: 1px solid #dddddd;
    padding: 2px;
   
    text-align: left;
  }
  

  th {
    background-color: #4CAF50;
    color: white;
  }
.day_table{width: 30px;}

.td_hours{
  text-align: center;
}