.icon_table{
    width: 30%;
    height: 30%;

}
.divTable{
   max-width: 100%;
   max-height: 60vh;
   overflow-x:auto;
   overflow-y: auto;
    position: relative;
}
.divTable > img{
    width: 50px;
    height: 50px;

}
.temp_table{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    
}
.hum{
    display: flex;
   
    gap: 5%;
    
}
.td_table{
  width: 130px;
}
table {
    border-collapse: collapse;
    width: 100%;
    height:100%;
  }
  
 
  td, th {
    border: 1px solid #dddddd;
    padding: 2px;
    text-align: left;
  }
  

  th {
    background-color: #4CAF50;
    color: white;
  }
.day_table{width: 30px;}

.tr_hours{position: fixed;
  top: 165px; /* Distancia desde la parte superior */
  right: 21px; /* Distancia desde el borde derecho */
 
  padding: 20px;
}
.td_hours{
  min-width: 130px;
}